.musica{
background:white;
width:320px;
margin:auto;
padding:15px;
border-radius:15px;
box-shadow:0 0 10px rgba(0,0,0,0.2);
}

#capa{
width:250px;
border-radius:10px;
box-shadow:0 0 10px rgba(0,0,0,0.4);
}

.info-musica{
margin-top:10px;
font-size:18px;
}